name: Auto Assign PRs

on:
  pull_request:
    types: [opened, reopened, ready_for_review]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: Assign reviewer and assignee
        uses: kentaro-m/auto-assign-action@v2.2.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: |
            themayanksolanki
          reviewers: |
            themayanksolanki
